---
http_interactions:
- request:
    method: get
    uri: https://test.docdatapayments.com/ps/services/paymentservice/1_1?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at
        http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><definitions
        xmlns=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:ddp=\"http://www.docdatapayments.com/services/paymentservice/1_1/\"
        xmlns:tns=\"http://www.docdatapayments.com/services/paymentservice/1_1/paymentservice.wsdl\"
        name=\"paymentService\" targetNamespace=\"http://www.docdatapayments.com/services/paymentservice/1_1/paymentservice.wsdl\">\n\t<documentation>The
        SOAP payment service provides operations for dealing\n\t\twith the live transactional
        system of DocData.</documentation>\n\n\t<types>\n\t\t<xsd:schema>\n\t\t\t<xsd:import
        schemaLocation=\"https://test.docdatapayments.com:443/ps/services/paymentservice/1_1?xsd=1\"
        namespace=\"http://www.docdatapayments.com/services/paymentservice/1_1/\"
        />\n\t\t</xsd:schema>\n\t</types>\n\n\t<message name=\"createRequest\">\n\t\t<documentation>Parameters
        to the \"create\" operation.</documentation>\n\t\t<part name=\"parameters\"
        element=\"ddp:createRequest\" />\n\t</message>\n\t<message name=\"createResponse\">\n\t\t<documentation>Response
        to the \"create\" operation.</documentation>\n\t\t<part name=\"parameters\"
        element=\"ddp:createResponse\" />\n\t</message>\n\t<message name=\"refundRequest\">\n\t\t<part
        name=\"parameters\" element=\"ddp:refundRequest\" />\n\t</message>\n\t<message
        name=\"refundResponse\">\n\t\t<part name=\"parameters\" element=\"ddp:refundR[...]
- request:
    method: post
    uri: https://test.docdatapayments.com/ps/services/paymentservice/1_1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ddp="http://www.docdatapayments.com/services/paymentservice/1_1/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><ddp:createRequest
        merchant="{:name=&gt;&quot;Name&quot;, :password=&gt;&quot;Passw0rd&quot;}"></ddp:createRequest></env:Body></env:Envelope>
    headers:
      soapaction:
      - '"create"'
      content-type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version=''1.0'' encoding=''UTF-8''?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><createResponse
        xmlns="http://www.docdatapayments.com/services/paymentservice/1_1/"><createError><error
        code="REQUEST_DATA_INCORRECT">XML request does not match XSD. The data is:
        cvc-complex-type.2.4.b: The content of element ''ddp:createRequest'' is not
        complete. One of ''{"http://www.docdatapayments.com/services/paymentservice/1_1/":merchant}''
        is expected..</error></createError></createResponse></S:Body></S:Envelope>'
  recorded_at: Fri, 18 Jul 2014 12:10:17 GMT
recorded_with: VCR 2.9.2
