---
http_interactions:
- request:
    method: get
    uri: https://test.docdatapayments.com/ps/services/paymentservice/1_1?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at
        http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><definitions
        xmlns=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:ddp=\"http://www.docdatapayments.com/services/paymentservice/1_1/\"
        xmlns:tns=\"http://www.docdatapayments.com/services/paymentservice/1_1/paymentservice.wsdl\"
        name=\"paymentService\" targetNamespace=\"http://www.docdatapayments.com/services/paymentservice/1_1/paymentservice.wsdl\">\n\t<documentation>The
        SOAP payment service provides operations for dealing\n\t\twith the live transactional
        system of DocData.</documentation>\n\n\t<types>\n\t\t<xsd:schema>\n\t\t\t<xsd:import
        schemaLocation=\"https://test.docdatapayments.com:443/ps/services/paymentservice/1_1?xsd=1\"
        namespace=\"http://www.docdatapayments.com/services/paymentservice/1_1/\"
        />\n\t\t</xsd:schema>\n\t</types>\n\n\t<message name=\"createRequest\">\n\t\t<documentation>Parameters
        to the \"create\" operation.</documentation>\n\t\t<part name=\"parameters\"
        element=\"ddp:createRequest\" />\n\t</message>\n\t<message name=\"createResponse\">\n\t\t<documentation>Response
        to the \"create\" operation.</documentation>\n\t\t<part name=\"parameters\"
        element=\"ddp:createResponse\" />\n\t</message>\n\t<message name=\"refundRequest\">\n\t\t<part
        name=\"parameters\" element=\"ddp:refundRequest\" />\n\t</message>\n\t<message
        name=\"refundResponse\">\n\t\t<part name=\"parameters\" element=\"ddp:refundR[...]
- request:
    method: post
    uri: https://test.docdatapayments.com/ps/services/paymentservice/1_1
    body:
      encoding: UTF-8
      string: |-
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:_1="http://www.docdatapayments.com/services/paymentservice/1_1/">
           <soapenv:Header/>
           <soapenv:Body>
              <_1:createRequest version="1.1">
                 <_1:merchant name="Henk" password="asdfasdf"/>
                 <_1:merchantOrderReference>asdf</_1:merchantOrderReference>
                 <_1:paymentPreferences>
                    <_1:profile>?</_1:profile>
                    <_1:numberOfDaysToPay>?</_1:numberOfDaysToPay>
                    <!--Optional:-->
                    <_1:exhortation>
                       <_1:period1 numberOfDays="?" profile="?"/>
                [...]
